body {
  background: $base-background-color;
}

.main.app {
  // padding-top: 30px;
}

.main-inner, .header-inner {
  @include container;
  margin: 0 auto;
}

.header-inner {
  padding-top: 20px;
}

.main-inner {
  background: #fff;
  border-radius: 0 0 4px 4px;
  margin-bottom: 40px;

  @include media($small-screen) {
    padding: 40px $gutter;
  }
  @include media($mobile) {
    padding: 40px 10px;
  }
}
