<header class="app">
  <div class="header-inner">
    <h1>
      <%= link_to root_path, :id => "root" do %>
        <%= image_tag("logo-new.png") %>
      <% end %>
    </h1>
    <%= render 'shared/navigation' -%>
    <div class="container header-bar">
      <h2>Blog</h2>
    </div>
  </div>
</header>
