<header class="app">
  <%= render 'shared/navigation' -%>
  <div class="container search">
    <div class="width-wrapper">
      <h1>
        <%= link_to root_path, :id => "root" do %>
          <%= image_tag("logo-new.png") %>
        <% end %>
      </h1>
    </div>
  </div>
</header>
